@import '/src/styles/variables';

.fullname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  & > .name_part {
    color: $clr-primary;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}
