.rating {
  display: flex;
  justify-content: end;
  flex-wrap: nowrap;
  white-space: nowrap;

  .star {
    width: 24px;
    height: 24px;
    @media (max-width: 768px) {
      width: 18px;
      height: 18px;
    }
  }
}
