@import './variables';
@import './mixins';

/* Base et init */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $txt-montserrat;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
}
