@mixin flexSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin marginPage {
  margin: 0 100px;
  @media (max-width: 768px) {
    margin: 20px 0;
  }
}

@mixin radiusBox {
  border-radius: 20px;
}
