@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// font
$txt-montserrat: 'Montserrat', sans-serif;

// colors
$clr-primary: #ff6060;
$clr-secondary: #f6f6f6;
