@import '../../styles/mixins';
@import '../../styles/variables';

.home-main {
  @include marginPage;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  & > .logements-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    background-color: $clr-secondary;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    @include radiusBox;
    padding: 56px 50px 56px 50px;
  }
}
