@import '../../styles/variables';

article {
  position: relative;
  & > .cardImg {
    min-width: 300px;
    max-width: 340px;
    width: 100%;
    height: 340px;
    border-radius: 10px;
    @media (max-width: 1035px) {
      max-width: none;
      width: 100%;
      min-height: 255px;
      height: 100%;
    }
  }
  .cardTitle {
    position: absolute;
    bottom: 7px;
    left: 25px;
    width: 80%;
    height: 15%;
    color: #ffffff;
    font-size: 18px;
    @media (max-width: 768px) {
      bottom: 10px;
    }
  }
}
