@import '../../styles/variables';

.collapseContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  // margin-bottom: 10px;

  & > .collapseBox {
    z-index: 1;
    width: 100%;
    height: 52px;
    background: $clr-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;

    & > h2 {
      color: white;
      margin: 0;
    }

    & > .chevronWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      & > .chevronCheckbox {
        display: none;
      }

      & > .chevronLabel {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .chevron {
        width: 25px;
        height: 25px;
        transition: transform 0.35s linear;
      }
    }
  }

  .chevronOpen {
    transform: rotate(-180deg);
  }

  & > .txtContent {
    background: $clr-secondary;
    width: 100%;
    padding: 0px;
    font-size: 18px;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transform: translateY(-110px);
    transform-origin: center bottom;
    transition: transform 0.45s ease-in-out, max-height 0.45s ease-in-out,
      opacity 0.45s cubic-bezier(0.99, -0.62, 0, 2.12),
      padding 0.45s cubic-bezier(1, 0, 0, 0.99);

    & > p {
      margin: 0;
    }
  }

  & > .open {
    max-height: 200px;
    opacity: 1;
    padding: 15px;
    transform: translateY(0);
  }
}

// max-height 0.45s ease-in-out, opacity 0.45s ease-in-out,
