.navBar {
  &_ul {
    display: flex;
    flex-direction: row;
    gap: 50px;

    & > .navBar_li {
      a {
        font-size: 24px;
        font-weight: 500;
        white-space: nowrap;
        &:hover,
        &:focus,
        &:visited {
          border-bottom: 2px solid black;
        }
      }
    }
  }
}
