.footer {
  height: 209px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 50px;
  margin-top: 45px;
  @media (max-width: 768px) {
    margin-top: 20px;
  }

  &_text {
    margin-bottom: 20px;
    color: white;
  }
}
